$primaryColor: #C11329;
$darknessColor: #292022;
$drawerBgColor: #802929;
$highBrightColor: #bd3939;
$textHighBrightColor: #faea8f;
$panelBgColor: #eee;
$separatorLineColor: #e5e5e5;
$hintColor: #aaa;


$infoColor: #55bde2;
$successColor: #52c37d;
$warningColor: #e6a23c;
$dangerColor: #ff4939;
