$primaryColor: #29aaee;
$darknessColor: #0f777c;
$drawerBgColor: #37a3b1;
$highBrightColor: #2fbbcd;
$textHighBrightColor: #ddee29;
$panelBgColor: #eee;
$separatorLineColor: #e5e5e5;
$hintColor: #aaa;


$infoColor: #55bde2;
$successColor: #52c37d;
$warningColor: #fbec45;
$dangerColor: #ff4939;
$elWarningColor:#e6a23c;
$elDangerColor:#f56c6c;
$elDangerColor1:#57d63a;
$elDangerColor2:#d820c9;
$elDangerColor3:#0d83a7;
