@import "./define.scss";

// 导出给js使用
:export {
  primaryColor: $primaryColor;
  darknessColor: $darknessColor;
  textHighBrightColor: $textHighBrightColor;
  infoColor: $infoColor;
  successColor: $successColor;
  warningColor: $warningColor;
  dangerColor: $dangerColor;
  hintColor: $hintColor;
  elWarningColor:$elWarningColor;
  elDangerColor:$elDangerColor;
  elDangerColor1:$elDangerColor1;
  elDangerColor2:$elDangerColor2;
  elDangerColor3:$elDangerColor3;
}
