@import "./define.scss";

// 导出给js使用
:export {
  primaryColor: $primaryColor;
  darknessColor: $darknessColor;
  textHighBrightColor: $textHighBrightColor;
  hintColor: $hintColor;

  infoColor: $infoColor;
  successColor: $successColor;
  warningColor: $warningColor;
  dangerColor: $dangerColor;
}
