$primaryColor: #ee582c;
$darknessColor: #a35524;
$drawerBgColor: #ab7a24;
$panelBgColor: #eee;
$separatorLineColor: #e5e5e5;
$highBrightColor: #ca9740;
$textHighBrightColor: #ffd04b;

$infoColor: #4dd2e9;
$successColor: #52c37d;
$warningColor: #fbec45;
$dangerColor: #ff4939;
